<? INC Header.tmpl ?>

<div class="container col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">Webadmin</div>
			<div class="panel-body">
				<p>Welcome to the ZNC webadmin module.<br>All changes you make will be in effect immediately after you submitted them.</p>
			</div>
	</div>
</div>
	
<? INC Footer.tmpl ?>