<? IF ModName ?>
<div class="container col-md-10 col-md-offset-1">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="#"><? VAR ModName ?></a></li>
		<? REM ?><? IF PageName ?><li><a href="#"><? VAR PageName ?></a></li><? ENDIF ?><? ENDREM ?>
		<? IF Title && Title != *ModName ?><li class="active"><? VAR Title ?></li><? ENDIF ?>
	</ol>
</div>	
<? ENDIF ?>

<!--
<div class="container">
	<div class="btn-group btn-breadcrumb">
		<a href="/" class="btn btn-default"><i class="fa fa-home"></i>Home</a>
		<a href="#" class="btn btn-default"><? VAR ModName ?></a>
		<? REM ?><? IF PageName ?><a href="#" class="btn btn-default"><? VAR PageName ?></a><? ENDIF ?><? ENDREM ?>
		<? IF Title && Title != *ModName ?><a href="#" class="btn btn-default"><? VAR Title ?></a><? ENDIF ?>
	</div>
</div>
-->