<? INC Header.tmpl ?>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-danger">
				<div class="panel-heading">Error!</div>
					<div class="panel-body">
						 <? VAR Error ?>
					</div>
			</div>	
		</div>
	</div>
</div>

<? INC Footer.tmpl ?>
