<div id="footer">
    <div class="container">
		<p class="text-muted text-center">Powered by <? VAR Tag ESC=ASCII ?>. We &hearts; ZNC</p>
    </div>
</div>
	<script language="javascript">$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
</body>
</html>
<!-- Build with love for ZNC -->