<? INC Header.tmpl ?>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<?IF LoggedIn ?>
			<hr>
			<p>Welcome to ZNC's web interface! &mdash; This web interface will allow you to manage your ZNC account(s) via the WWW. You will be able to enable, disable, add, edit, remove, clone, search your bouncer(s).</p>
			<p>New to ZNC? Trying to figure out how to connect to your ZNC? Check out the official <a href="http://wiki.znc.in/" target="_blank">ZNC Wiki</a> or hop onto the IRC channel: #znc at Freenode or EFnet IRC Network.</p>
		<?IF !GlobalModLoop ?>
			<?IF !UserModLoop ?>
				<p>Oppss! No Web-enabled modules have been loaded. Load modules from IRC ("<code>/msg *status help</code>" and "<code>/msg *status loadmod &lt;module&gt;</code>"). Once you have loaded some Web-enabled modules, the menu will expand.</p>
			<? ENDIF ?>
		<? ENDIF ?>
	<? ENDIF ?>
	</div>
</div>	
<? INC Footer.tmpl ?>