<? INC Header.tmpl ?>

<div class="container col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">Stickychan</div>
			<div class="panel-body">
				<form class="form-horizontal" action="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>" method="post">
				<? INC _csrf_check.tmpl ?>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>Channel Name</td>
							<td>Enable / Disable</td>
						</tr>
					</thead>
					<tbody>
						<? LOOP ChannelLoop SORTASC=Name ?>
						<tr>
							<td><? VAR Name ?></td>
							<td>
								<div class="switch">
									<input type="checkbox" id="stick_<? VAR Name ?>" name="stick_<? VAR Name ?>" class="cmn-toggle cmn-toggle-round-flat"<? IF Sticky ?> checked="checked"<? ENDIF ?> />
									<label for="stick_<? VAR Name ?>"></label>
								</div>
							</td>
						</tr>
					<? ENDLOOP ?>
					</tbody>
				</table>
			</div>
			<div class="panel-footer text-right">
				<input class="btn btn-danger" type="reset" value="Reset">
				<input type="hidden" name="submitted" value="1" />
				<input class="btn btn-success" type="submit" value="Save" />
			</div>
				</form>
	</div>
</div>

<? INC Footer.tmpl ?>