<hr>
<div class="form-group">
	<label for="inputenableDisable" class="col-sm-2 control-label">Channel is sticky:</label>
		<div class="col-sm-10">
			<div class="checkboxSwitch">
				<input type="hidden" name="embed_stickychan_presented" value="1">
				<input type="checkbox" id="embed_stickychan_sticky" name="embed_stickychan_sticky" id="opt_embed_stickychan_sticky" value="1"<? IF Sticky ?> checked="checked"<? ENDIF ?> />
				<label for="embed_stickychan_sticky"></label>
			</div>
		</div>
</div>
  





						
					 
					